* {
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

#searchSize {
  width: 50px;
  margin-left: 12px;
  margin-right: 12px;
}

.ticketLink {
  margin-top: 42px;
  width: 220px;
  background-color: #46A7FF;
  text-align: center;
  padding: 4px;
  font-size: 20px;
  border-radius: 12px;
}

.ticketLink a {
  color: white;
}

#mapid {
  margin-top: 62px;
  height: 400px;
  width: 600px;
}

.restaurants {
  color: #B2730D;
  font-weight: bold;
}
.restaurants:hover {
  color: #FFB846;
  cursor: zoom-in;
  text-decoration: underline;
}

.card {
  width: 100%;
}

.card-header, .card-header button {
  width: 100%;
  white-space: normal;
}

.card-header p {
  margin-bottom: 0;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
}

.card-wrap {
  width: 50%;
}
